body{
	background-color: #000000;
	text-align: center;
	font-family: Palatino Linotype;
	color:#FFFFFF;
}
canvas, img { display:block; margin:1em auto; border:1px solid black; }
canvas { background:url(https://github.com/ztbrownlow/Sorcery-Engine/blob/master/Examples/images/astroidsImages/starrynight.png?raw=true) }
